body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 400;
}

@keyframes sunny-rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.snackbar-sunny-icon {
    width: 40px;
    animation-name: sunny-rotating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.appbar-sunny-icon {
    width: 64px;

    animation-name: sunny-rotating;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}