<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.favicon %>">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>
<body>
    <div id="app"></div>
    <% htmlWebpackPlugin.files.js.map(function (filename) {%>
    <script type="text/javascript" src="<%= filename %>"></script>
    <%})%>
</body>
</html>